/* ~~Started Jan 2024~~ */

/*Universal Styles*/
body {
    background-color: thistle;
    padding-top: 60px;
    font-family: 'Roboto Mono', monospace;
}

nav {
    text-transform: uppercase;
}


p {
    max-width: 75%;
    left: 10px;
}

a:hover {
    color: red;
}

/*Header*/
.header {
    background-color: thistle;
    top: 0px;
    left: 0px;
    width: 100%;
    position: fixed;
}
.header li {
    display: inline-block;
    padding: 10px 10px;
}

/*Footer*/
.footer {
    padding-top: 20px;
    padding-bottom: 40px;
    /*border: 1px black solid;*/
}

.footer li {
    display: inline-block;
    padding: 10px 10px;
    /*border: 1px black solid;*/
}

/*Experience*/
.exp li {
    max-width: 75%;
}